@use "@variables/media" as *;

.about {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 38px;
  @include respond-to-tablet {
    gap: 20px;
  }
  .collapse {
    width: 82.5%;
    @include respond-to-tablet {
      width: 100%;
    }
  }
}
