@use "@variables/colors" as *;
@use "@variables/media" as *;

.collapse {
  flex-grow: 1;
  background-color: #f6f6f673;
  border-radius: 5px;
  height: max-content;
  &__header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: $main--color;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    align-items: center;
    @include respond-to-tablet {
      font-size: 13px;
      padding-block: 4px;
    }
    .collapse__button {
      color: #fff;
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 24px;
      i {
        transition: transform 0.3s ease-out;
        &.up {
          transform: rotate(180deg);
        }
      }
      @include respond-to-tablet {
        font-size: 17px;
      }
    }
  }
  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    padding: 0 20px;
    @include respond-to-tablet {
      font-size: 12px;
    }
  }
  &__content--open {
    max-height: max-content;
    padding: 25px 20px 20px 20px;
  }
  &__content ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
