@use "@variables/colors" as *;
@use "@variables/media" as *;

$space: 139px;
$space--mobile: 113px;

.error404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $main--color;
  gap: $space;
  margin-block: $space;
  text-align: center;
  @include respond-to-tablet {
    margin-block: $space--mobile;
    gap: $space--mobile;
  }
  h1 {
    font-size: 288px;
    font-weight: 700;
    line-height: 1.05;
    @include respond-to-tablet {
      font-size: 96px;
    }
  }
  p {
    font-size: 36px;
    @include respond-to-tablet {
      font-size: 18px;
    }
  }
  a {
    text-decoration: underline;
    color: #000;
    @include respond-to-tablet {
      font-size: 14px;
    }
  }
}
